.expense-item {
    border: 1px solid #6f6f6f;

    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
    background-color: #e6e6e6;
  }
  
  .expense-item-date {
    font-size: 1rem;
    color: #888;
    
  }
  
  .expense-item-description {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-items: center;
    
  }
  
  .expense-item-description h2 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
    margin-right: 1rem;
  }
  
  .expense-item-price {
    font-size: 1.25rem;
    font-weight: bold;
    color: #d9534f;
    background-color: #333;
    padding: 0.6rem;
    border-radius: 0.2rem;
  }
  